body{
  background-color: #511111;
}

.jumbo1 {
	background-color: #511111;
	color: #ffffff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 0%);
}

.jumbo2{
	background-color: #511111;
	color: #ffffff;
	position: absolute;
	width: 100%;
	top: 75%;
    left: 0%;
    padding: 1px;
    color: #511111;
}

.well{
	position: relative;
}

.searchbox{
	position:relative;
    min-width:50px;
    width:0%;
    height:60px;
    float:right;
    overflow:hidden;
    
    -webkit-transition: width 0.3s;
    -moz-transition: width 0.3s;
    -ms-transition: width 0.3s;
    -o-transition: width 0.3s;
    transition: width 0.3s;
}

.searchHere {
    border-radius: 30px 30px 30px 30px;
   	background-color: #511111;
   	border-color: orange;
   	border-width: 3px;
   	height:60px;
   	width:100%;
   	z-index:-1;
}

input.searchHere {
    color:orange;
}

input:focus {
  	border-color: orange;
   	border-width: 3px;
}

.searchbox-submit,
.cancelIcon,
.searchIcon{
	height:60px;
   	width:60px;
   	display: block;
	position: absolute;
	right: 0;
	top: 0;
	padding: 0;
	margin: 0;
	line-height: 60px;
	text-align: center;
	background-color: #511111;
	z-index:100;
}

.searchbox-submit{
	z-index:-1;
	display:none;
}

.cancelIcon{
	z-index:-1;
	background-color: transparent;
}

.searchIcon{

    -webkit-transition: background-color 0.3s;
    -moz-transition: background-color 0.3s;
    -ms-transition: background-color 0.3s;
    -o-transition: background-color 0.3s;
    transition: background-color 0.3s;
}

.searchbox-open{
    width:100%;
}

.searchHere::-webkit-input-placeholder {
	color: orange;
}

.searchHere:-moz-placeholder {
	color: orange;
}

.searchHere::-moz-placeholder {
	color: orange;
}

.searchHere:-ms-input-placeholder {
	color: orange;
}


